body {
    max-width: 1400px;
    background-color: #d8d8d8;
    margin: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    width: 148.6px;
    height: 28.9px;
}

.navbar {
    max-width: 1399.6px;
    height: 70px;
    margin-bottom: 0px;
    /*background-color: rgba(43, 48, 52, 0.8);*/
}

.navbar-inverse {
    background-color: rgba(43, 48, 52, 0.8);
}

.navbar-header {
    left: 109px;
    top: 20px;
}

.navbar-nav {
    float: right;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    text-align: center;
    color: #ffffff;
}

:root {
    --slate-grey: #606b74;
    --soft-blue: #63b2e7;
}

/* Sample text styles */

header {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    color: #574751;
}

.header-image {
    max-width: 1400px;
    height: 465px;
    background-repeat: no-repeat;
}

.header-image-text {
    padding-top: 79px;
    left: 103px;
    min-height: 263px;
    width: 665px;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 300;
    line-height: 1.23;
    color: #ffffff;
    text-align: left;
}

.learn-more {
    width: 94px;
    height: 25px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.79;
    letter-spacing: 0.9px;
    color: #ffffff;
}

.jumbotron {
    width: 1400px;
    height: 406px;
    background-color: #f3f3f3;
}

.headline-image {
    max-width: 1400px;
    height: 406px;
    background-repeat: no-repeat;
}

.headline {
    width: 773.8px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.41;
    text-align: center;
    color: #606b74;
    color: var(--slate-grey);
}

.absolute-center {
    transform: translateY(100%);
    margin: 0 auto;
}

.absolute-center-column {
    transform: translateY(100%);
    width: 100%;
    text-align: center;
}

.col-md-4 {
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);*/
    background-color: #ffffff;
    border: solid 1px #eaeaea;
    height: 100%;
    align-content: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    color: #606b74;
    color: var(--slate-grey);
    width: 33%;
}

.row-image {
    padding-bottom: 20px;
}

.row-2-container {
    height: 254.1px;
    margin-left: 0px;
}

.call-me-outer {
    height: 1034px;
    background-color: #f5f5f5;
}

.call-me-container {
    width: 513px;
    height: 499px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.07);
    margin: auto;
    /*margin-top: -62px;*/
    padding: 22px 31px 0px 31px;
}

    .call-me-container hr {
        width: 100%;
        height: 3px;
    }

.call-me-div {
    float: left;
    padding-top: 10px;
}

.call-me-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: #606b74;
    text-align: left;
}

.call-me-number {
    font-size: 18px;
    font-weight: normal;
}

.mail-to {
    font-family: Roboto;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #63b2e7;
}

#evenly-spaced {
    text-align: justify;
}

    #evenly-spaced > div {
        width: 100px; /* Declare your value. Can be in relative units. */
        display: inline-block;
        vertical-align: top;
    }

    #evenly-spaced:after {
        content: "";
        width: 100%;
        display: inline-block;
    }

.footer-links {
    width: 100%;
    height: 122px;
    background-color: #ffffff;
    padding: 34px 121px 0px 121px;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.footer-container {
    width: 100%;
    padding: 30px 100px 22px 100px;
    background-color: #2b3034;
}

    .footer-container a {
        height: 19px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        color: #ffffff;
        padding-right: 14px;
    }

    .footer-container img {
        padding-left: 24px;
        height: 14.5px;
    }

    .footer-container hr {
        border: solid 1px #4c5053;
    }

.copyright {
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    color: #9c9c9c;
}
