:root {
    --slate-grey: #606b74;
    --soft-blue: #63b2e7;
}

body {
    background-color: #d8d8d8;
    margin: auto;
    font-family: Roboto, "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

div {
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: var(--soft-blue);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header-image {
    background-image: url('/Content/Images/homepage_mainbanner_mobile.jpg');
    background-size: 105% auto;
}

.header-image-text {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.23;
    color: #ffffff;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    padding-left: 0px;
}

.navbar-inverse {
    background-color: rgba(43, 48, 52, 0.8);
    border-style: none;
}

    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: #ffffff;
    }

.learn-more {
    font-size: 14px;
    letter-spacing: 0.9px;
    color: #ffffff;
}

.headline-image {
    height: 406px;
}

.headline {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.41;
    text-align: center;
    color: #606b74;
    color: var(--slate-grey);
}

.background-image-unset {
    background-position: center;
    background-size: unset;
    /*background-size: 100% auto;*/
}

.row-image {
    padding-bottom: 20px;
}

.row-2-container {
    background-color: #ffffff;
}

.col-border {
    border: solid 1px #eaeaea;
}

.say-hello {
    height: 142.9px;
    font-size: 32px;
    color: #ffffff;
}

.call-me-container {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.07);
    margin: auto;
    padding: 22px 31px 0px 31px;
}

    .call-me-container hr {
        height: 3px;
    }

.mail-to {
    letter-spacing: 0.4px;
}

.footer-links {
    height: 162px;
    background-color: #ffffff;
}

.footer-container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2b3034;
}

    .footer-container a {
        height: 19px;
        font-size: 16px;
        font-weight: normal;
        color: #ffffff;
        padding-right: 14px;
    }

    .footer-container img {
        padding-left: 24px;
        height: 14.5px;
    }

    .footer-container hr {
        border: solid 1px #4c5053;
    }

.copyright {
    font-size: 11px;
    font-weight: normal;
    color: #9c9c9c;
}

.service {
    font-size: 14px;
    font-weight: bold;
    line-height: 3.57;
    color: var(--slate-grey);
}

.service-header {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.56;
    color: var(--soft-blue);
}

.service-image img {
    height: 50%;
    width: 50%;
}

.pull-right-lg {
    text-align: left;
}

.sub-header {
    border-bottom: solid 1px #cdcdcd;
}

ul {
    margin-top: 10px;
}

.sub-header,
.services-main {
    background-color: #ffffff;
}

    .sub-header a {
        font-size: 12px;
        color: var(--slate-grey);
    }

.service-block {
    color: var(--slate-grey);
}

    .service-block hr {
        height: 2px;
        background-color: #cdcdcd;
    }

.service-description {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.67;
}

.service-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 2.08;
    text-align: center;
    font-weight: bold;
}

.service-item {
    padding-bottom: 18px;
}

.testimonial {
    background-color: #292c2f;
}

.testimonial-text {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 300;
    line-height: 1.67;
    color: #ffffff;
}

.testimonial-client {
    padding: 61px 0px 61px 0px;
}

.standard-div {
    background-color: #f3f3f3;
}

.other-services {
    font-size: 25px;
    line-height: 2;
    color: var(--soft-blue);
}

.services img {
    height: 30px;
    width: 30px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header-image {
        background-size: 100% auto;
        background-image: url('/Content/Images/homepage_contact_tablet_1x.jpg');
    }

    .header-image-text {
        font-size: 80px;
    }

    .headline {
        font-size: 32px;
    }

    /*.col-md-4 {
        height: 254.1px;
        font-size: 18px;
    }*/

    .say-hello {
        height: 400px;
        font-size: 50px;
    }

    .call-me-container {
        width: 513px;
    }

    .mail-to {
        font-size: 22px;
        letter-spacing: 0.5px;
    }

    .footer-links {
        height: 254px;
    }

    .service-image img {
        height: 164px;
        width: 164px;
    }

    .service-header {
        font-size: 52px;
        line-height: 1.94;
    }

    .sub-header a {
        font-size: 16px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 1400px;
    }

    .header-image {
        background-image: url('/Content/Images/homepage_mainbanner_desktop_1x.jpg');
    }

    .footer-links {
        height: 122px;
    }

    .pull-right-lg {
        text-align: right;
    }

    .service-image img {
        height: 193px;
        width: 193px;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div,
p,
span {
    color: #606b74;
}

/* Sample text styles */

header {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    color: #574751;
}

.jumbotron {
    max-width: 1400px;
    height: 406px;
    background-color: #f3f3f3;
}

.absolute-center {
    transform: translateY(50%);
    margin: 0 auto;
}

.absolute-center-column {
    transform: translateY(100%);
    max-width: 100%;
    text-align: center;
}

.call-me-outer {
    background-color: #f5f5f5;
}

.call-me-div {
    float: left;
    padding-top: 10px;
}

.call-me-number {
    font-size: 18px;
    font-weight: normal;
}

#evenly-spaced {
    text-align: justify;
}

    #evenly-spaced > div {
        width: 100px; /* Declare your value. Can be in relative units. */
        display: inline-block;
        vertical-align: top;
    }

    #evenly-spaced:after {
        content: "";
        width: 100%;
        display: inline-block;
    }

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-main {
    height: 394px;
    position: relative;
    overflow: auto;
    background-color: #f3f3f3;
    padding-left: 113.797px;
}

    .header-main div {
        width: 70%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow: auto;
    }

.header-main-image {
    padding-left: 45%;
}
