body {
    max-width: 1400px;
    background-color: #d8d8d8;
    margin: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    max-width: 148.6px;
    height: 28.9px;
}

.navbar {
    max-width: 1399.6px;
    height: 70px;
    margin-bottom: 0px;
    /*background-color: rgba(43, 48, 52, 0.8);*/
}

.navbar-inverse {
    background-color: rgba(43, 48, 52, 0.8);
}

.navbar-header {
    left: 109px;
    top: 20px;
}

.navbar-nav {
    float: right;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    text-align: center;
    color: #ffffff;
}

:root {
    --slate-grey: #606b74;
    --soft-blue: #63b2e7;
}

@font-family-base: Roboto;
@font-size-base: 18px;

div,
p,
span {
    color: #606b74;
}

/* Sample text styles */

header {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    color: #574751;
}

.header-image {
    max-width: 1400px;
    height: 465px;
    background-repeat: no-repeat;
}

.header-image-text {
    padding-top: 79px;
    left: 103px;
    min-height: 263px;
    max-width: 665px;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 300;
    line-height: 1.23;
    color: #ffffff;
    text-align: left;
}

.learn-more {
    max-width: 94px;
    height: 25px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.79;
    letter-spacing: 0.9px;
    color: #ffffff;
}

.jumbotron {
    max-width: 1400px;
    height: 406px;
    background-color: #f3f3f3;
}

.headline-image {
    max-width: 1400px;
    height: 406px;
    background-repeat: no-repeat;
}

.headline {
    max-width: 773.8px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.41;
    text-align: center;
    color: #606b74;
    color: var(--slate-grey);
}

.absolute-center {
    transform: translateY(100%);
    margin: 0 auto;
}

.absolute-center-column {
    transform: translateY(100%);
    max-width: 100%;
    text-align: center;
}

.col-md-4 {
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);*/
    background-color: #ffffff;
    border: solid 1px #eaeaea;
    height: 100%;
    align-content: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    color: #606b74;
    color: var(--slate-grey);
    width: 33%;
}

.row-image {
    padding-bottom: 20px;
}

.row-2-container {
    height: 254.1px;
    margin-left: 0px;
}

.call-me-outer {
    height: 1034px;
    background-color: #f5f5f5;
}

.call-me-container {
    max-width: 513px;
    height: 499px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.07);
    margin: auto;
    /*margin-top: -62px;*/
    padding: 22px 31px 0px 31px;
}

    .call-me-container hr {
        width: 100%;
        height: 3px;
    }

.call-me-div {
    float: left;
    padding-top: 10px;
}

/*.call-me-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: #606b74;
    text-align: left;
}*/

/*.call-me-text {
    font-size: @font-size-large;
}*/

.call-me-number {
    font-size: 18px;
    font-weight: normal;
}

.mail-to {
    font-family: Roboto;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #63b2e7;
}

#evenly-spaced {
    text-align: justify;
}

    #evenly-spaced > div {
        width: 100px; /* Declare your value. Can be in relative units. */
        display: inline-block;
        vertical-align: top;
    }

    #evenly-spaced:after {
        content: "";
        width: 100%;
        display: inline-block;
    }

.footer-links {
    width: 100%;
    height: 122px;
    background-color: #ffffff;
    padding: 34px 121px 0px 121px;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.footer-container {
    width: 100%;
    padding: 30px 100px 22px 100px;
    background-color: #2b3034;
}

    .footer-container a {
        height: 19px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        color: #ffffff;
        padding-right: 14px;
    }

    .footer-container img {
        padding-left: 24px;
        height: 14.5px;
    }

    .footer-container hr {
        border: solid 1px #4c5053;
    }

.copyright {
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    color: #9c9c9c;
}

.service {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 3.57;
    color: #606b74;
    color: var(--slate-grey);
}

.service-header {
    font-family: Roboto;
    font-size: 52px;
    font-weight: 400;
    line-height: 1.94;
    color: #63b2e7;
    color: var(--soft-blue);
}

.flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-main {
    height: 394px;
    position: relative;
    overflow: auto;
    background-color: #f3f3f3;
    padding-left: 113.797px;
}

    .header-main div {
        width: 70%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow: auto;
    }

.header-main-image {
    padding-left: 45%;
}

.sub-header {
    width: 100%;
    height: 53px;
    border-bottom: solid 1px #cdcdcd;
    padding: 17px 0px 17px 104px;
}

.sub-header,
.services-main {
    background-color: #ffffff;
}

    .sub-header a {
        padding-right: 20px;
        font-family: Roboto;
        font-size: 16px;
        /*font-weight: 700;*/
        color: #606b74;
        color: var(--slate-grey);
    }

.services-main {
    padding: 69px 0px 69px 0px;
    width: 100%;
}

.service-block,
.testimonial-text {
    margin: auto;
    max-width: 581px;
}

    .service-block hr {
        width: 100%;
        height: 2px;
        color: #cdcdcd;
        background-color: #cdcdcd;
    }

.service-description,
.service-subtitle,
.service-items {
    font-family: Roboto;
    color: #606b74;
    color: var(--slate-grey);
}

.service-description {
    padding-bottom: 12px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.67;
}

.service-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 2.08;
    text-align: center;
    padding: 12px;
}

.service-items {
    font-size: 18px;
    font-weight: 400;
    height: 200px;
}

.service-item {
    width: 50%;
    float: left;
    padding: 0px 32px 15px 0px;
    padding-right: 10px;
}

    .service-item img {
        padding-right: 18px;
    }

.testimonial {
    background-color: #292c2f;
    /*padding: 83px 0px 0px 83px;*/
}

.testimonial-text {
    font-family: RobotoSlab;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding-top: 83px;
}

.testimonial-client {
    padding: 61px 0px 61px 0px;
}

.standard-div {
    max-width: 1400px;
    background-color: #f3f3f3;
}

.other-services {
    width: 100%;
    font-family: GillSans;
    font-size: 25px;
    line-height: 2;
    text-align: center;
    color: #63b2e7;
    color: var(--soft-blue);
    padding-top: 26px;
}

.service-other-services {
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    color: #606b74;
    color: var(--slate-grey);
    padding: 0px 12.5% 0px 12.5%;
}

    .service-other-services div {
        max-width: 183px;
        font-family: Roboto;
        font-size: 18px;
        text-align: center;
        color: #606b74;
        color: var(--slate-grey);
        padding: 36px 0px 77px 0px;
    }

    .service-other-services img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

#other-service-name {
    padding-bottom: 0;
}
