<div class="row call-me-outer">
    <div class="row">
        <div class="col-xs-12 say-hello absolute-center text-center">
            Say&nbsp;Hello
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-lg-6 col-md-8 col-xs-10 col-lg-offset-2 col-md-offset-1">
            <div class="row call-me-container">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-2 pull-left">
                            <img src="~/Content/Images/group-8.png" alt="Hurst-Smith Consulting HR & Talent Specialists - Niki Hurst-Smith" />
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-7">
                            <div class="call-me-text">
                                <strong>CALL&nbsp;ME</strong>
                                <br />
                                <span class="call-me-number">07961&nbsp;103674</span>
                            </div>
                        </div>
                        <div class="col-xs-2 pull-right">
                            <img class="call-me-div" src="~/Content/Images/Shape.svg" alt="Hurst-Smith Consulting HR & Talent Specialists - Call Me" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <br />
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4><small><strong class="send-me-a-message">SEND&nbsp;ME&nbsp;A&nbsp;MESSAGE</strong></small></h4>
                            <br />
                            <p>
                                We partner with small to medium sized businesses who don’t need a full time HR & Talent team
                                but recognise the importance of a clear strategy and tool kit of HR & Talent led initiatives
                                focused on attracting and retaining the best people. If you are interested in discussing
                                how we could help you please get in touch.
                            </p>
                            <br />
                            <a href="mailto:niki@hurst-smithconsulting.co.uk" class="mail-to">niki@hurst-smithconsulting.co.uk</a>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
