@model HS.Consulting.Models.Testimonial

<div class="row testimonial">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-2 testimonial-text text-center">
                @Model.Caption
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-2 testimonial-client text-center">
                @Model.Client - @Model.Company
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
    </div>
</div>