@section customCss {
    <link href="~/Content/Site-client.css" rel="stylesheet" />
}

@section headerImage {
    <div class="col-xs-11 col-sm-offset-1">
        <div class="row">
            <div class="col-xs-12">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 text-left service-header">Clients</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <br />
            </div>
        </div>
    </div>
}

<div class="row footer-links">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-3" onclick="location.href='http://www.iris-worldwide.com/'">
                <div class="row">
                    <div class="col-xs-12"><br /></div>
                    <div class="col-xs-12">
                        <img class="img-responsive center-block" alt="Iris" src="~/Content/Images/Iris.png" />
                    </div>
                    <div class="col-xs-12"><br /></div>
                </div>
            </div>
            <div class="col-xs-3" onclick="location.href='http://www.wdmp.co.uk/'">
                <div class="row">
                    <div class="col-xs-12"><br /></div>
                    <div class="col-xs-12" style="vertical-align: middle">
                        <img class="img-responsive center-block" alt="WDMP" src="~/Content/Images/Wdpm.png" />
                    </div>
                    <div class="col-xs-12"><br /></div>
                </div>
            </div>
            <div class="col-xs-3" onclick="location.href='https://nakedideas.com/'">
                <div class="row">
                    <div class="col-xs-12"><br /></div>
                    <div class="col-xs-12 cen">
                        <img class="img-responsive center-block" alt="Naked Ideas" src="~/Content/Images/Naked Ideas logo_Greyscale.png" />
                    </div>
                    <div class="col-xs-12"><br /></div>
                </div>
            </div>
            <div class="col-xs-3" onclick="location.href='http://stottandmay.com/'">
                <div class="row">
                    <div class="col-xs-12"><br /></div>
                    <div class="col-xs-12 cen">
                        <img class="img-responsive center-block" alt="Stott and May" src="~/Content/Images/StottAndMay.png" />
                    </div>
                    <div class="col-xs-12"><br /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-3" onclick="location.href='http://we-three.co.uk/'">
                <div class="row">
                    <div class="col-xs-12"><br /></div>
                    <div class="col-xs-12">
                        <img class="img-responsive center-block" src="~/Content/Images/we3-homepage.png" />
                    </div>
                    <div class="col-xs-12"><br /></div>
                </div>
            </div>
            <div class="col-xs-3" onclick="location.href='http://www.worldofinitials.co.uk/'">
                <div class="row">
                    <div class="col-xs-12"><br /></div>
                    <div class="col-xs-12" style="vertical-align: middle">
                        <img class="img-responsive center-block" alt="Initials" src="~/Content/Images/Initials.png" />
                    </div>
                    <div class="col-xs-12"><br /></div>
                </div>
            </div>
            <div class="col-xs-3" onclick="location.href='http://www.fosburymarketing.com/'">
                <div class="row">
                    <div class="col-xs-12"><br /></div>
                    <div class="col-xs-12 cen">
                        <img class="img-responsive center-block" alt="Fosbury" src="~/Content/Images/Fosbury.png" />
                    </div>
                    <div class="col-xs-12"><br /></div>
                </div>
            </div>
            <div class="col-xs-3" onclick="location.href='http://www.qcg.co.uk/'">
                <div class="row">
                    <div class="col-xs-12"><br /></div>
                    <div class="col-xs-12 cen">
                        <img class="img-responsive center-block" alt="QCG" src="~/Content/Images/QCG.png" />
                    </div>
                    <div class="col-xs-12"><br /></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row client-testimonials">
    @foreach (var testimonial in HS.Consulting.Data.TestimonialData.Testimonials)
    {
        <div class="col-xs-12"><br /></div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-1 col-md-3"></div>
                <div class="col-xs-10 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 testimonial-client">@testimonial.Client</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 testimonial-company"><strong>@testimonial.Company</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 testimonial-text">@testimonial.Caption</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><hr /></div>
                    </div>
                </div>
                <div class="col-xs-1 col-md-3"></div>
            </div>
        </div>
    }
    <div class="col-xs-12"><br /></div>
</div>