<div class="row">
    <div class="col-xs-12">
        <strong>Niki Hurst-Smith</strong>
        <br />
        Established leader in the marketing and comms industry with a 20-year career working for best in class agencies and brands. Initially my career developed within client services where I was renowned for growing client business with a relationship led approach and a focus (and passion for) motivating high performing teams.  During my career I have always found myself at the heart of people led initiatives. For 15 years I have sat on the board of an HR consultancy QCG, as an non-executive Director providing counsel on marketing, branding, business change and HR.
        <br />
        8 years ago I was lucky enough to become Head of People for WDMP and have never looked back.  Over the last 7 years I have worked in-house for iris and WDMP in-house, spanning both talent and HR.
        <br />
        Last year, Hurst Smith Consulting was born to collaborate with senior leadership teams to help them craft their people strategy and create an effective toolkit of HR and Talent initiatives and, more importantly, deliver a positive impact on both the culture and effectiveness of a business.
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br />
    </div>
</div>
