@section customCss {
    <link href="~/Content/Site-our-story.css" rel="stylesheet" />
}

@section headerImage {
    <div class="col-xs-11 col-sm-offset-1">
        <div class="row">
            <div class="col-xs-12">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-4">
                <div class="row">
                    <div class="col-xs-12 service-header">Our Story</div>
                    <div class="col-xs-12 headline text-left">Hurst Smith Consulting was founded on the strong belief that a highly effective and motivated team is critical to building a successful and sustainable business.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <br />
            </div>
        </div>
    </div>
}

<div class="row sub-header">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <ul class="list-inline">
            <li>
                <a id="approachLink" href="/OurStory/Approach">Approach</a>
            </li>
            <li>
                <a href="/OurStory/About">About Niki</a>
            </li>
            <li>
                <a href="/OurStory/Partners">Partners</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-1"></div>
</div>

<div class="row services-main">
    <div class="col-xs-12">
        <br />
        <br />
    </div>
    <div id="our-story-content" class="col-xs-12 col-md-10 col-lg-6 col-md-offset-1 col-lg-offset-3">
        @Html.Partial((string)ViewBag.OurStoryPartialView)
    </div>
    <div class="col-xs-12">
        <br />
        <br />
    </div>
</div>

<div class="row services-main">
    <div class="col-xs-12">
        <br />
        <br />
    </div>
</div>

@Html.Partial("_TestimonialPartialView", HS.Consulting.Data.TestimonialData.Random)

@section scripts {
    <script type="text/javascript">

        $(document).ready(
            function () {
                var url = location.href;
                var found = false;

                $('a').each(function () {
                    if (url.endsWith(this.href) && this.href.indexOf('OurStory/') > 0) {
                        this.classList.add('bold');
                        found = true;
                    }
                });

                if(!found)
                    $('#approachLink').addClass('bold');
            });

    </script>
}