@{
    ViewBag.Title = "Home Page";
}

@section headerImage {
<div style="float: left; padding-left: 109px;">
    <div class="container header-image-text">
        People powered performance
    </div>
    <br />
    <br />
    <div class="container body-content"><a href="/" class="learn-more"><img src="~/Content/Images/remove-circle-copy.png" />&nbsp;LEARN MORE</a></div>
</div>
}

<div class="headline-image" style="background-image: url('/Content/Images/homepage_logobackground_desktop_1x.jpg');">
    <div style="position: relative; height: 100%; width: 100%;">
        <div class="headline absolute-center">An independent HR & Talent specialist working collaboratively with businesses to build sustainable growth by harnessing the potential of their people.</div>
    </div>
</div>

<div class="row row-2-container">
    <div class="col-md-4">
        <div class="absolute-center-column">
            <img class="row-image" src="~/Content/Images/Advice.svg" />
            <br />
            HR&nbsp;Consultancy
        </div>
    </div>
    <div class="col-md-4">
        <div class="absolute-center-column">
            <img class="row-image" src="~/Content/Images/TalentAttraction.svg" />
            <br />
            <span>Talent Attraction</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="absolute-center-column">
            <img class="row-image" src="~/Content/Images/thumb-up.svg" />
            <br />
            <span>Employee&nbsp;Engagement</span>
        </div>
    </div>
</div>
<div class="row row-2-container">
    <div class="col-md-4">
        <div class="absolute-center-column">
            <img class="row-image" src="~/Content/Images/HR.svg" />
            <br />
            Outsourced&nbsp;HR
        </div>
    </div>
    <div class="col-md-4">
        <div class="absolute-center-column">
            <img class="row-image" src="~/Content/Images/Benefits.svg" />
            <br />
            <span>Employee Benefits</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="absolute-center-column">
            <img class="row-image" src="~/Content/Images/Training.svg" />
            <br />
            <span>Training, Development and Coaching</span>
        </div>
    </div>
</div>
<div class="headline-image call-me-outer" style="background-image: url('/Content/Images/homepage_contact_desktop_1x.jpg');">
    <div style="height: 400px;"></div>
    <div class="call-me-container">
        <div style="float: left">
            <img style="float:inherit" src="~/Content/Images/group-8.png" />
            <div class="call-me-div">
                <div class="call-me-text">
                    CALL&nbsp;ME
                    <br />
                    <span class="call-me-number">07961&nbsp;103674</span>
                </div>
            </div>
        </div>
        <img class="call-me-div" style="float: right" src="~/Content/Images/Shape.svg" />
        <div style="padding-top: 90px">
            <hr />
        </div>
        <div class="call-me-text">
            SEND&nbsp;ME&nbsp;A&nbsp;MESSAGE
            <br />
            <br />
            <span style="font-weight: normal;">
                We partner with small to medium sized businesses who don’t need a full time HR & Talent team
                but recognise the importance of a clear strategy and tool kit of HR & Talent led initiatives
                focused on attracting and retaining the best people. If you are interested in discussing
                how we could help you please get in touch.
            </span>
            <br />
            <br />
            <br />
            <a href="mailto:niki@hurst-smithconsulting.co.uk" class="mail-to">niki@hurst-smithconsulting.co.uk</a>
        </div>
    </div>
</div>