@{
    ViewBag.Title = "Home";
}

@section customCss {
    <link href="~/Content/Site-home.css" rel="stylesheet" />
}

@section headerImage {
    <div class="col-xs-12"><br /></div>
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <div class="row">
            <div class="col-xs-12 col-md-8 header-image-text text-left">
                People powered performance
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br /></div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-left learn-more"><a href="/" class="learn-more"><img src="~/Content/Images/remove-circle-copy.png" />&nbsp;LEARN MORE</a></div>
        </div>
    </div>
    <div class="col-xs-12"><br /></div>
}

<div class="row headline-image background-image-unset">
    <div class="col-lg-3 col-sm-12"></div>
    <div class="col-lg-6 headline absolute-center">An independent HR & Talent specialist working collaboratively with businesses to build sustainable growth by harnessing the potential of their people.</div>
    <div class="col-lg-3 col-sm-12"></div>
</div>

<div class="row row-2-container">
    <div class="col-xs-12 col-md-4 col-border">
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
        <div class="row">
            <div class="col-xs-12" onclick="location.href='/Services/Consultancy'">
                <div class="text-center">
                    <img class="row-image" src="~/Content/Images/Advice.svg" />
                    <br />
                    HR&nbsp;Consultancy
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-border">
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
        <div class="row">
            <div class="col-xs-12" onclick="location.href='/Services/TalentAttraction'">
                <div class="text-center">
                    <img class="row-image" src="~/Content/Images/TalentAttraction.svg" />
                    <br />
                    <span>Talent Attraction</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-border">
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
        <div class="row">
            <div class="col-xs-12" onclick="location.href='/Services/Engagement'">
                <div class="text-center">
                    <img class="row-image" src="~/Content/Images/thumb-up.svg" />
                    <br />
                    <span>Employee&nbsp;Engagement</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
    </div>
    <div class="clearfix visible-md-block"></div>
    <div class="col-xs-12 col-md-4 col-border">
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
        <div class="row">
            <div class="col-xs-12" onclick="location.href='/Services/EmployeeBenefits'">
                <div class="text-center">
                    <img class="row-image" src="~/Content/Images/Benefits.svg" />
                    <br />
                    <span>Employee Benefits</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-border">
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
        <div class="row">
            <div class="col-xs-12" onclick="location.href='/Services/OutsourcedHR'">
                <div class="text-center">
                    <img class="row-image" style="padding-bottom: 5px;" src="~/Content/Images/HR.svg" />
                    <br />
                    Outsourced&nbsp;HR
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-border">
        <div class="row">
            <div class="col-xs-12"><br /><br /></div>
        </div>
        <div class="row">
            <div class="col-xs-12" onclick="location.href='/Services/Training'">
                <div class="text-center">
                    <img class="row-image" src="~/Content/Images/Training.svg" />
                    <br />
                    <span>Training, Development and Coaching</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><br /><br /></div>
            </div>
        </div>
    </div>
</div>

<div class="row call-me-outer">
    <div class="row">
        <div class="col-xs-12 say-hello absolute-center text-center">
            Say&nbsp;Hello
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-lg-4 col-md-8 col-xs-10 col-lg-offset-3 col-md-offset-1">
            <div class="row call-me-container">
                <div class="col-xs-2 pull-left">
                    <img src="~/Content/Images/group-8.png" />
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-7">
                    <div class="call-me-text">
                        CALL&nbsp;ME
                        <br />
                        <span class="call-me-number">07961&nbsp;103674</span>
                    </div>
                </div>
                <div class="col-xs-2 pull-right">
                    <img class="call-me-div" src="~/Content/Images/Shape.svg" />
                </div>
                <div class="col-xs-12">
                    <hr />
                    <br />
                </div>
                <div class="col-xs-12">
                    <h4><small><strong>SEND&nbsp;ME&nbsp;A&nbsp;MESSAGE</strong></small></h4>
                    <br />
                    <p>
                        We partner with small to medium sized businesses who don’t need a full time HR & Talent team
                        but recognise the importance of a clear strategy and tool kit of HR & Talent led initiatives
                        focused on attracting and retaining the best people. If you are interested in discussing
                        how we could help you please get in touch.
                    </p>
                    <br />
                    <br />
                    <a href="mailto:niki@hurst-smithconsulting.co.uk" class="mail-to">niki@hurst-smithconsulting.co.uk</a>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
